.main {
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 90px;
    left: 200px;
    /* background-color: beige; */
    border-radius: 10%;
    width: 50%;
}
body {
    background-image: url(/Javascript_quote_gennerate/ins_160721892_241182197693857_1627983861984804221_n.jpg);
}
button {
    font-size: 30px;
}
button:hover {
    cursor: pointer;
    background-color: white;
    color: aquamarine;
}
.main:hover {
    background-color: beige;
    transition: 4s;
}